body{
    background: #0b5293;
    margin: 0px;
}
#Middle{
    display: flex;
    flex-direction: row;
    background: #0b5293;
    height: 85vh;
    padding: 20px;
    margin: 0px;
    text-align: center;
    justify-content: space-around;
}

#hair{
    fill: black !important;
}


#content{
    display: flex;
    flex-direction: column;
}
.cont{
    border-radius: 20px;
    width: 500px;
    background-color: white;
    padding:15px;
    height: auto;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    text-align: left;
    color: black;
}
h4, h5{
    display: inline-block;
    margin: 20px;
}
#top{
    font-size: 10px;
    text-align: center;
    padding: 0px;
    padding-left: 50vw;
    background-color: white;
    margin: 0px;
    position: relative;
}
.int{
    display: inline-block;
    margin: 0px;
    padding-left:30px;
    color: red;
}

#content h2,h3{
    color: white;
}

.int a{
    text-decoration: none;
    background: none;
}
.int h4{
    font-family: "Times New Roman";
    font-size: 18px;
    color: black;
    font-weight: 400;
    background: none;
}

#vector{
    height: 600px;
    width: 500px;
}

#lower-box-green, #upper-box-white{
    animation: rotate-one 1s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#lower-box-white, #upper-box-green{
    animation: rotate-two 1s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#correct{
    animation: changing 2s ease alternate;
}

@keyframes changing{
    from{
        transform: scale3d(1,5,5);
        
    }
    to{
        transform: scale3d(1,1,1);
    }
}

@keyframes rotate-one{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes rotate-two{
    from{
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}